@use "./variables" as *;
@use "./color" as *;
@use "./function" as *;

$utils: () !default;

$utils: map-merge(
  (
    "display": (
      property: display,
      values: (
        inline: inline,
        inline-block: inline-block,
        block: block,
        grid: grid,
        table: table,
        table-row: table-row,
        table-cell: table-cell,
        flex: flex,
        inline-flex: inline-flex,
        none: none,
      ),
    ),
    "width": (
      property: width,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto,
      ),
    ),
    "height": (
      property: height,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto,
      ),
    ),
    "color": (
      property: color,
      values: $text-colors,
    ),
    "background-color": (
      property: background-color,
      values: $background-colors,
    ),
    "opacity": (
      property: opacity,
      values: (
        0: 0,
        25: 0.25,
        50: 0.5,
        75: 0.75,
        100: 1,
      ),
    ),
    "overflow": (
      property: overflow,
      values: (
        auto: auto,
        hidden: hidden,
        visible: visible,
        scroll: scroll,
      ),
    ),
    "font-size": (
      property: font-size,
      values: map-merge($font-sizes, ()),
    ),
    "font-weight": (
      property: font-weight,
      values: (
        light: 300,
        normal: 400,
        bold: 700,
      ),
    ),
    "line-height": (
      property: line-height,
      values: (
        1: 1em,
        -1: 1.1em,
        -2: 1.2em,
        -3: 1.3em,
        -4: 1.4em,
        -5: 1.5em,
      ),
    ),
    "text-align": (
      property: text-align,
      values: (
        left: left,
        right: right,
        center: center,
      ),
    ),
    "text-decoration": (
      property: text-decoration,
      values: (
        none: none,
        underline: underline,
        line-through: line-through,
      ),
    ),
    "vertical-align": (
      property: vertical-align,
      values: (
        top: top,
        middle: middle,
        bottom: bottom,
      ),
    ),
    "float": (
      property: float,
      values: (
        left: left,
        right: right,
        none: none,
      ),
    ),
    "flex-direction": (
      property: flex-direction,
      values: (
        row: row,
        column: column,
        row-reverse: row-reverse,
        column-reverse: column-reverse,
      ),
    ),
    "flex-wrap": (
      property: flex-wrap,
      values: (
        wrap: wrap,
        nowrap: nowrap,
        wrap-reverse: wrap-reverse,
      ),
    ),
    "justify-content": (
      property: justify-content,
      values: (
        start: flex-start,
        end: flex-end,
        center: center,
        between: space-between,
        around: space-around,
        evenly: space-evenly,
      ),
    ),
    "align-items": (
      property: align-items,
      values: (
        start: flex-start,
        end: flex-end,
        center: center,
        baseline: baseline,
        stretch: stretch,
      ),
    ),
    "align-content": (
      property: align-content,
      values: (
        start: flex-start,
        end: flex-end,
        center: center,
        between: space-between,
        around: space-around,
        stretch: stretch,
      ),
    ),
    "rounded": (
      property: border-radius,
      "values": map-merge($spacing, ()),
    ),
    "border": (
      property: border,
      values: (
        all: #{$border-width} #{$border-style} #{$black},
      ),
    ),
    "border-color": (
      property: border-color,
      values: $border-colors,
    ),
    "padding": (
      property: padding,
      "values": map-merge($spacing, ()),
    ),
    "pt": (
      property: padding-top,
      "values": map-merge($spacing, ()),
    ),
    "pb": (
      property: padding-bottom,
      "values": map-merge($spacing, ()),
    ),
    "pl": (
      property: padding-left,
      "values": map-merge($spacing, ()),
    ),
    "pr": (
      property: padding-right,
      "values": map-merge($spacing, ()),
    ),
    "margin": (
      property: margin,
      "values": map-merge($spacing, ()),
    ),
    "mt": (
      property: margin-top,
      "values": map-merge($spacing, ()),
    ),
    "mb": (
      property: margin-bottom,
      "values": map-merge($spacing, ()),
    ),
    "ml": (
      property: margin-left,
      "values": map-merge($spacing, ()),
    ),
    "mr": (
      property: margin-right,
      "values": map-merge($spacing, ()),
    ),
    "gap": (
      property: gap,
      "values": map-merge($spacing, ()),
    ),
    "position": (
      property: position,
      values: (
        static: static,
        relative: relative,
        absolute: absolute,
        fixed: fixed,
        sticky: sticky,
      ),
    ),
    "top": (
      property: top,
      values: $position-values,
    ),
    "bottom": (
      property: bottom,
      values: $position-values,
    ),
    "left": (
      property: left,
      values: $position-values,
    ),
    "right": (
      property: right,
      values: $position-values,
    ),
  ),
  $utils
);

$_property: "";

@each $key, $value in $utils {
  @each $_key, $_vaule in $value {
    @if ($_key == property) {
      $_property: $_vaule;
    } @else {
      @each $v_key, $v_values in $_vaule {
        .#{ $key }-#{ $v_key } {
          #{ $_property }: #{$v_values};
        }
      }
    }
  }
}
