@use "./color" as *;
@use "./function" as *;

// 단위 설정
$base-em-size: 16px !default;
$font-size-base: 1rem !default;
$line-height-base: 1.5 !default;

// scss-docs-start spacing-variables-maps
$spacing: () !default;
$spacing: map-merge(
  (
    1: vw(1),
    2: vw(2),
    3: vw(3),
    4: vw(4),
    5: vw(5),
    6: vw(6),
    7: vw(7),
    8: vw(8),
    9: vw(9),
    10: vw(10),
    11: vw(11),
    12: vw(12),
    13: vw(13),
    14: vw(14),
    15: vw(15),
    16: vw(16),
    17: vw(17),
    18: vw(18),
    19: vw(19),
    20: vw(20),
    25: vw(25),
    30: vw(30),
    35: vw(35),
  ),
  $spacing
);

// scss-docs-start width-variables
$border-width: 1px !default;
$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
) !default;
$border-style: solid !default;

// scss-docs-start font-sizes-variables-maps
$font-sizes: () !default;
$font-sizes: map-merge(
  (
    11: vw(11),
    12: vw(12),
    13: vw(13),
    14: vw(14),
    15: vw(15),
    16: vw(16),
    17: vw(17),
    18: vw(18),
    19: vw(19),
    20: vw(20),
  ),
  $font-sizes
);

// scss-docs-start text-colors-variables
$text-colors: () !default;
$text-colors: map-merge(
  (
    primary: $red,
    secondary: $yellow,
  ),
  $text-colors
);

// scss-docs-start border-colors-variables
$border-colors: () !default;
$border-colors: map-merge(
  (
    primary: $red,
    secondary: $yellow,
  ),
  $border-colors
);

// scss-docs-start background-colors-variables
$background-colors: () !default;
$background-colors: map-merge(
  (
    primary: $red,
    secondary: $yellow,
  ),
  $background-colors
);

// scss-docs-start position-variables
$position-values: () !default;
$position-values: map-merge(
  (
    0: 0,
    1: 1px,
    2: 2px,
    3: 3px,
    4: 4px,
    5: 5px,
    6: 6px,
    7: 7px,
    8: 8px,
    9: 9px,
    10: 10px,
    50: 50%,
    100: 100%,
  ),
  $position-values
);

//
$font-size-base: 1rem !default;
$font-size-sm: $font-size-base * 0.875 !default;
$font-size-lg: $font-size-base * 1.25 !default;

$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;

$line-height-base: 1.5 !default;
$line-height-sm: 1.25 !default;
$line-height-lg: 1.75 !default;

$btn-padding-x: 0.75rem !default;
$btn-padding-y: 0.375rem !default;
$btn-padding-y-lg: 0.5rem !default;
$btn-padding-x-lg: 1rem !default;
$btn-font-size: $font-size-base !default;
