* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
// 단위 설정
$base-em-size: 16px;

// tailwind

.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-row-revers {
  flex-direction: row-reverse;
}
.flex-column {
  flex-direction: column;
}
.flex-column-reverse {
  flex-direction: column-reverse;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
