.c-dropdown {
  margin: 50px;
  position: relative;
  /* outline: 0; */
  min-width: 100px;
  min-height: 14px;
  background: #fff;
  display: inline-block;
  padding: 0.78571429em 2.1em 0.78571429em 1em;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0.28571429rem;
  transition: box-shadow 0.1s ease, width 0.1s ease;
  cursor: pointer;
}
.c-dropdown::after {
  content: "";
  border-width: 6px;
  border-radius: 3px;
  border-style: solid;
  border-color: transparent;
  border-top-color: inherit;
  position: absolute;
  right: 12px;
  top: calc(50% + 3px);
  transform: translateY(-50%);
}
.c-dropdown.active::after {
  border-color: transparent;
  border-bottom-color: inherit;
  top: calc(50% - 3px);
}
.c-dropdown.active {
  border-color: #96c8da;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.c-dropdown .label {
  word-wrap: break-word;
  line-height: 1em;
  white-space: normal;
  color: rgba(0, 0, 0, 0.87);
  text-align: left;
  cursor: pointer;
  pointer-events: none;
}
.c-dropdown .menu {
  cursor: auto;
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  /* min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content; */
  margin: 0;
  /* padding: 0 0; */
  background: #fff;
  font-size: 1em;
  text-align: left;
  border: 1px solid rgba(34, 36, 38, 0.15);

  z-index: 11;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
  border-top-width: 0 !important;
  width: auto;
  outline: 0;
  margin: 0 -1px;
  min-width: calc(100%);
  width: calc(100%);
  border-radius: 0 0 0.28571429rem 0.28571429rem;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transition: all 0.1s ease;
}

.c-dropdown .menu:after,
.c-dropdown .menu:before {
  display: none;
}

.c-dropdown:focus .menu {
  border-color: #96c8da;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
}
.c-dropdown .menu[aria-expanded="true"] {
  display: block;
  visibility: visible;
  /* border-bottom-left-radius: 0!important;
  border-bottom-right-radius: 0!important; */
}

.c-dropdown .menu .item {
  position: relative;
  cursor: pointer;
  display: block;
  border: none;
  height: auto;
  text-align: left;
  border-top: none;
  line-height: 1em;
  color: rgba(0, 0, 0, 0.87);
  padding: 0.78571429rem 1.14285714rem !important;
  font-size: 1rem;
  text-transform: none;
  font-weight: 400;
  box-shadow: none;
  -webkit-touch-callout: none;
  border-top: 1px solid #fafafa;
  white-space: normal;
  word-wrap: normal;
}
.c-dropdown .menu .item:first-child {
  border-top: none;
}
.c-dropdown .menu .selected.item {
  background: rgba(0, 0, 0, 0.03);
  color: rgba(0, 0, 0, 0.95);
}
.c-dropdown .menu .item:hover {
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.95);
  z-index: 13;
}
